.header{
    background-color: $primary;
    padding: 16px 0;
    width: 100%;
    @include mobile{
      padding-bottom:  0px;
    }

  .logo{
    display: block;
    width:80px;
    padding: 12px 0px;
    @include mobile{
      margin-left: 12px;
      margin-bottom: 12px;
    }
  }
  &-wrapper{
    // width: 100%;
    @include mobile{
        flex-direction: column;
        align-items: start;
    }
  }
  .nav-bar{
    font-size: 20px;
    @include mobile{
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    
    } 
    &-item{
        @include mobile{
        width: 50%;
        border: 1px solid $white;      
        }

      a{
        display: block;
        color: $white;
        // transition: .5s;

        @include mobile{
          padding-left: 0px;
          padding-right:0px;
        }
      }
      &-link{          
          padding:25px 25px;
          position: relative;
      }
      &-link:hover{
        @include mobile{
          color: $secondary;
        }
      }
      
      &-link::after{
          content: "";
          border-bottom: 3px solid $white;
          position: absolute;
          display: block;
          transition: all .3s;
          margin: auto;
          width: 0%;
      }
      &-link:hover::after{    
          width: 65%;
          @include mobile{
          width: 0%;
          }
      }
    }
  }
}




