.products{
    .categories{
        li{
            flex-grow: 1;
            a{
                display: block;
                color: #000;
                font-size: 2rem;
                font-weight: 600;
                padding-top: 24px;
                padding-bottom: 24px;
                border: 1px solid #DCDCDC;
                text-align: center;
                @include pad {
                    font-size: $font-l;
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
                @include phone {
                    font-size: $font-default;
                }
            }
            a:hover,a:active{
                box-shadow: inset 0 -8px 0 $primary;
            }
        }
    }
}

.product-wrapper .row {
    margin-top: 32px;    
    @include phone{
        margin-top: 24PX;
    }
  .col-lg-4{
    width: calc(33.33% - 48px);
    @include pad{
        width: calc(50% - 24px);
    }
    @include phone{
        width: 100%;
    }
    .text{
        &-regular{
          font-weight: normal;
        }  
        &-primary{
         color: $primary;  
        }
    }
  }
}

.product{
  &-h2{
    font-size: 42px;
    font-weight: medium;
    @include phone{
        font-size: 24px;
    }
  }  
  &-h3{
    font-size: 32px;
    @include phone{
        font-size: 24px;
    }
  }  
}
// color
.product{
  &-color01,
  &-color02{
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  &-color01{
    background-color: $brown-500;
  }
  &-color02{
    background-color: $brown-200;
  }

}

// pagination
.pagination{
    margin-top: 64px;
    @include mobile{
      margin-top: 80px;
    }
    .page-item:last-child{
      a{border-right: 1px solid $gray-700;}
    }
  .page-link{
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    color: $gray-700;
    border: 1px solid $gray-700;
    border-right: none;
    &:hover{
      background-color: $gray-100;
    }
    &.active{
      color: $white;
      background-color: $black;
    }
  }
}

